@keyframes enterRight {
  0% {
    right: -25vw;
  }

  100% {
    right: 0;
  }
}

@keyframes exitRight {
  0% {
    right: 0;
  }

  100% {
    right: -25vw;
  }
}

#app {
  width: 25vw;
  height: 32vh;
  position: absolute;
  right: 0;
  top: 30%;
}

/**/
.container {
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 32vh;
  position: relative;
  right: 0vw;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  animation: enterRight 2s;
}

.enter {
  animation: enterRight 2s;
}

.exit {
  animation: exitRight 2s;
}

.closeContainer {
  position: absolute;
  left: 1vw;
  top: 1vw;
  width: 2vw;
  height: 2vw;
  z-index: 99;
}

.blurSection {
  position: relative;
  height: 25vh;
  width: 100%;
  margin-top: -5vh;
}

.quizSection {
  position: relative;
  height: 10vh;
  width: 100%;
}